include Readme.md
include LICENSE
include imgutil.py
include gui.py
include da_icon.png

include poppler/bin/*.dll
include poppler/bin/*.exe
include poppler/bin/AUTHORS
include poppler/bin/BINARIES
include poppler/bin/COPYING
include poppler/bin/COPYING3
include poppler/bin/README
include poppler/bin/README-XPDF

include poppler/include/poppler/cpp/*.h
include poppler/lib/*.a
include poppler/lib/pkgconfig/*.pc
include poppler/share/man/man1/*.1
